.config/raycast/
.config/ok/
.config/simple-update-notifier/ 
.config/neomutt/ 
.config/stklos/
.config/xbuild/
.config/gtk-2.0/
.config/asciinema/
.config/better-auth/
.config/calcure/
.config/gh/
.config/github-copilot/
.config/xata/
.config/configstore/
.config/firebase/
.config/mole/
.config/television/
